@charset "utf-8";
*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    height: 400vh;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -.6px;
}

.container{
    width: 1280px;
    margin: 0 auto;
    display: flex;
}

.winSize{
    width: 100%;
    min-width: 1280px;
}

.clear:after{
    content: '';
    width: 70px; height: 5px;
    display: block;
    clear: both;
    background-color: #ffd44a;
}

.bg-gray{
    background-color: #f7f8f9 !important;
}
.bg-orange{
    background-color: orange !important;
}
.bg-sky{
    background-color: skyblue !important;
}
.bg-yellow{
    background-color: #ffd44a !important;
}

/* menu css */

.hd{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
}

.menuWrap{
    display: flex;
    justify-content: space-between;
    /* height: 70px; */
    /* padding: 10px 0; */
}
.menuWrap h1 a{
    width: 165px; height: 35px;
    font-weight: 400;
    color: none;
}
.menuWrap .gnb ul{
    display: flex;
}
.menuWrap .gnb li{
    width: 150px; height: 76px;
    
}
.menuWrap .gnb a{
    display: flex; height: 100%;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.menuWrap .sns{
    display: flex;
    align-self: center;
    gap: 10px;
}

.menuWrap .sns li{
    width: 40px; height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #000;
    color: #fff;
}

/* swiper css */
.swiper{
    min-height: 400px;
    height: 100vh;
}

.swiper .swiper-slide{
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper .st1{
    background-image: url('../images/banner1.jpg');
}
.swiper .st2{
    background-image: url('../images/banner2.jpg');
}
.swiper .st3{
    background-image: url('../images/banner3.jpg');
}
.swiper .st4{
    background-image: url('../images/banner4.jpg');
}
.swiper .st5{
    background-image: url('../images/banner5.jpg');
}

.swiper .swiper-slide .txtbox{
    position: absolute;
    width: 456px; left: 180px;
}
.swiper .swiper-slide .title{
    display: flex; align-items: flex-end;
    font-size: 80px; color: #ffffff;
    width: 100%; height: 210px;
    font-weight: 700;
}
.swiper .swiper-slide .subtxt{
    display: block;
    font-size: 24px; color: #ffffff;
    font-weight: 500; line-height: 1.5;
    margin-top: 14px;
}

/* fix는 width값이 필수 */
.top{
    width: 100px; height: 100px;
    position: fixed;
    right: 10px; bottom: 10px;
    background-color: red;
    border-radius: 50%;
}

/* content1 css */
.content{
    width: 1280px;
    padding: 180px 32px;
    margin: 0 auto;
}
.con1 .contxt{
    font-size: 44px;
    font-weight: 700;
    line-height: 1.41;
    letter-spacing: -2px;
}
.con1 p{
    padding-left: 624px;
    font-size: 18px;
    line-height: 1.56;
}

/* banner css */
.banner{
    display: flex;
    justify-content: space-between;
}

.banner .card{
    width: 384px; height: 580px;
}

.banner .card .cardText{
    padding: 20px 16px 0;
}
.banner .card .cardText h3{
    margin-bottom: 10px;
}
.banner .card .cardText p{
    font-size: 15px;
    line-height: 1.6;
    margin-top: 7px;
    letter-spacing: -.6px;
}


.banner .card .imgWrap:hover img{
    transition: 0.3s;
    /* transform: translate(0,0) scale(1.1) rotate(10deg); */
    transform: translate(-10px, -10px);
    box-shadow: 20px 20px 20px rgba(0,0,0,0.3);
}

.sec1st{
    position: relative;
    height: 462px;
    margin-top: 160px;
    margin-bottom: 160px;
}

.sec1st .textWrap{
    width: 1114px; height: 338px;
    padding: 102px 520px 102px 104px;
    position: absolute;
}

.sec1st .textWrap h3{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: -1px;
}
.sec1st .textWrap p{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.47;
}

.sec1st .img1{
    width: 592px; height: 360px;
    position: absolute;
    top: 102px; right: 0;
}

/* news css */
.news{
    padding-top: 160px;
    padding-bottom: 160px;
    flex-direction: column;
    overflow: hidden;
}
.news .textWrap{
    line-height: 1.63;
}
.news .textWrap .contxt{
    font-size: 44px;
    font-weight: 700;
    line-height: 1.41;
    letter-spacing: -2px;
    padding-bottom: 20px;
}

.news .buttonWrap{
    display: flex;
    justify-content: flex-end;
    padding: 0 50px 0 0;
}
.news .buttonWrap .button{
    margin-left: 18px;
    height: 38px;
    padding: 0 24px;
    border-radius: 19px;
    font-size: 14px; font-weight: 500; line-height: 38px;
    border: 1px solid #000;
}

.news .swiper2{
    padding: 30px;
}

.news .swiper2 li{
    border-style: solid;
    height: 150px;
}

.ft{
    background-color: #171717;
    padding: 64px 0;
}
.ft .ft_info{
    position: relative;
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.ft .ft_info img{
    width: 152px; height: 32px;
}
.ft .ft_info p{
    color: rgba(255,255,255,.5);
    font-size: 11px;
    line-height: 20px;
    margin-top: 26px;
    display: block;
}
.ft .ft_info .links{
    margin-top: 46px;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255,255,255,.5);
}
.ft .ft_info .links span{
    margin: 0 10px;
}
.ft .ft_info .links a{
    color: rgba(255,255,255,.6);
}
.ft .ft_info .snsWrap{
    position: absolute;
    right: 0; bottom: 0;
}
.ft .ft_info .sns{
    display: flex;
    justify-content: flex-start;
    color: rgba(255,255,255,.5);
}
.ft .ft_info .sns li{
    /* width: 20px; height: 20px; */
    margin-left: 24px;
}
.ft .ft_info .familySite{
    color: rgba(255,255,255,.5);;
    background-color: #080808;
    position: absolute;
    right: 0; top: 0;
    width: 180px; height: 32px;
}
.ft .ft_info .familyWrap{
    padding: 0 8px;
    font-size: 11px;
}